streamlit>=1.18.0 # Core framework (ensure version supports toggle disable/enable if using that feature)
numpy>=1.20.0    # Numerical operations
pandas>=1.3.0    # Data handling (DataFrames)
plotly>=5.5.0    # Interactive plotting (3D and 2D)
scipy>=1.7.0     # Scientific computing (used for ConvexHull)
openpyxl>=3.0.0  # Optional: for .xlsx/.xls support

# Optional, but needed for .pcd file support and downsampling:
open3d
alphashape
sklearn
